section.about#about
	.container 
		h2.about__title Обо мне
		.about__inner
			.about__content 
				p Привет, я — Александр, HTML-верстальщик / Frontend-разработчик.
				p С 2021 года занимаюсь коммерческой разработкой сайтов и приложений, имею богатый опыт реализации проектов различной сложности. Работая в веб-студии, специализировался на верстке, фронтенд-части, проектировании дизайн-систем и работе с дизайном.
				p В работе придерживаюсь принципов чистого кода, продуманной архитектуры и лучших практик. Люблю автоматизацию процессов разработки.
				p Считаю себя ответственным, стрессоустойчивым и самостоятельным работником.
				p Всегда готов расширить и дополнить свои знания и навыки, чтобы быть эффективным членом команды.
				p Ищу возможность работать над сложными и интересными проектами, где могу применить свой опыт и расти как специалист.
			.about__info 
				.about__item
					.about__key 3+ 
					.about__value 
						| года
						<br>
						| опыта

				.about__item
					.about__key 20+
					.about__value 
						| коммерческих
						<br>
						| проектов

				.about__item
					.about__key 
						+svg('about--infinity', 'about__svg', 84, 64)

					.about__value 
						| желание 
						<br>
						| развиваться