section.about#about
	.container 
		h2.about__title Обо мне
		.about__inner
			.about__content 
				p Привет, я — Александр, HTML-верстальщик / Frontend-разработчик.
				br
				p С 2021 года занимаюсь коммерческой разработкой сайтов и приложений. Работал в веб-студии, имею богатый опыт создания сайтов различной сложности.
				br
				p Особое внимание уделяю автоматизации процессов разработки.
				br
				p Увлекаюсь 3D-моделированием и велоспортом.
				br
				p Всегда готов расширить и дополнить свои знания и навыки, чтобы быть эффективным членом команды.
			.about__info 
				.about__item
					.about__key 3+ 
					.about__value 
						| года
						<br>
						| опыта

				.about__item
					.about__key 20+
					.about__value 
						| коммерческих
						<br>
						| проектов

				.about__item
					.about__key 
						<svg class="about__svg" width="70" height="56" viewBox="0 0 640 320" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M471.1 0C405 0 353.3 41.3 320 78.6C286.7 41.3 235 0 168.9 0C75.8 0 0 71.8 0 160C0 248.2 75.8 320 168.9 320C235 320 286.7 278.7 320 241.4C353.3 278.7 405 320 471.1 320C564.2 320 640 248.2 640 160C640 71.8 564.2 0 471.1 0ZM168.9 224C128.7 224 96 195.3 96 160C96 124.7 128.7 96 168.9 96C207.1 96 242.3 132.1 262.9 160C242.5 187.6 207 224 168.9 224ZM471.1 224C432.9 224 397.7 187.9 377.1 160C397.5 132.4 433 96 471.1 96C511.3 96 544 124.7 544 160C544 195.3 511.3 224 471.1 224Z" fill="#f1f1f1"/>
						</svg>

					.about__value 
						| желание 
						<br>
						| развиваться