section.about#about
    .container 
        h2.about__title Обо мне
        .about__content 
            p.about__text 
                | Привет, меня зовут Александр, я занимаюсь разработкой веб-сайтов различной сложности.
            p.about__text 
                | Я стремлюсь стать профессиональным разработчиком, и для меня верстка сайтов - это возможность создать нечто целостное и законченное, а также визуально представить результат затраченных усилий.
            p.about__text 
                | Особое внимание уделяю автоматизации процессов разработки.
            p.about__text 
                | Не боюсь легаси кода.
            p.about__text 
                | Всегда готов расширить и дополнить свои знания и навыки, что бы быть эффективным членом команды.