.works {
	padding-bottom: 3rem;
	background-color: $bg-dark;

	&__item {
		display: flex;
		gap: $gap-base;

		margin: 2rem; //!
		padding: 40px 30px;

		color: $color-light;

		background-color: $bg-dark;
		border: 1px solid $bg-light;
		border-radius: $radius-base;
		box-shadow: 7px 7px 0 0 $bg-light;
	}

	&__img {
		flex-shrink: 0;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 8px;
		justify-content: space-between;
	}

	&__type {
		font-size: 14px;
		color: $color-decor;
	}

	&__name {
		font-size: 24px;
	}

	&__tech {
		display: flex;
		gap: 12px;
		align-items: center;
	}

	&__visit {
		position: relative;
		text-decoration: underline;
		&::after {
			@include bg-svg("social--go-to");

			content: "";

			position: absolute;
			right: -22px;
			bottom: 1px;

			width: 16px;
			height: 16px;

			background-repeat: no-repeat;
			background-size: 16px;
		}
	}

	&__block {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
