.works {
	padding-bottom: 150px;

	&__title {
		margin-bottom: 56px;
		font-size: $fz-title-section;
		color: $color-light;
		text-align: center;

		@media (max-width: 768px) {
			margin-bottom: 32px;
			font-size: $fz-title-secion-mobile;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 44px;

		@media (max-width: 768px) {
			transform: translateX(-3px);
			grid-template-columns: 1fr;
			gap: 24px;
		}
	}

	&__item {
		display: flex;
		gap: $gap-base;

		padding: 30px;

		color: $color-light;

		background-color: $bg-dark;
		border: 2px solid $bg-light;
		border-radius: $radius-base;
		box-shadow: 5px 5px 0 0 $bg-light;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 10px;
			padding: 18px;
		}
	}

	&__img {
		// flex-shrink: 0;

		img {
			aspect-ratio: 16 / 9;
			max-width: 335px;
			height: 100%;

			object-fit: cover;
			border-radius: 6px;

			@media (max-width: 768px) {
				width: 100%;
				max-width: 100%;
			}
		}
	}

	&__top {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 8px;
		justify-content: space-between;

		width: 100%;
	}

	&__type {
		font-size: 14px;
		color: $color-decor;
	}

	&__name {
		font-size: 24px;
	}

	&__descr {
		margin-bottom: 8px;
	}

	&__tech {
		display: flex;
		gap: 12px;
		align-items: center;
		margin-bottom: 20px;

		@media (max-width: 768px){
			margin-bottom: 14px;
		}
	}

	&__icon {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (any-hover: hover) {
			&:hover {
				.works__tooltip {
					opacity: 1;
				}
			}
		}
	}

	&__tooltip {
		position: absolute;
		bottom: -23px;

		padding: 1px 10px;

		font-size: 10px;

		opacity: 0;
		background-color: rgba(255, 255, 255, 0.3);
		border-radius: 4px;

		transition: opacity 0.3s ease-in-out;

		&::after {
			content: "";

			position: absolute;
			top: -5px;
			left: 50%;
			transform: rotate(0deg) translateX(-50%);

			width: 0px;
			height: 0px;

			border-color: transparent transparent rgba(255, 255, 255, 0.3)
				transparent;
			border-style: solid;
			border-width: 0 6px 5px 6px;
		}
	}

	&__visit {
		cursor: pointer;

		position: relative;

		padding: 9px 16px;
		padding-right: 36px;

		color: $bg-dark;

		background-color: $color-light;
		border-radius: 6px;

		transition: opacity 0.3s ease-in-out;
		&::after {
			@include bg-svg("social--go-to");

			content: "";

			position: absolute;
			top: 50%;
			right: 11px;
			transform: translateY(-50%) scale(0.9);

			width: 16px;
			height: 16px;

			background-repeat: no-repeat;
			background-size: 16px;
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__block {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__git-link {
		height: 34px;
	}

	@media (max-width: 768px) {
		padding-bottom: 120px;
	}
}
