section.exp#exp
	.container
		h2.exp__title Опыт
		.exp__content 
			.exp__item 
				.exp__date 
					span Октябрь 2023 - Сентябрь 2024
					span.exp__duration 1 год
				.exp__details 
					.exp__position HTML - верстальщик &#183; Frontend разработчик
					.exp__company
						a.exp__company-link(href="https://mkomov.com" target="_blank") Mkomov Studio

					ul.exp__descr 
						li Занимался проектированием и разработкой  сайтов по макетам, поддержкой и развитием существующих проектов.
						li Работал с legacy кодом, дорабатывал функционал и оптимизировал производительность.
						li Особое внимание уделял тестированию и отладке вёрстки в различных браузерах и на разных устройствах.
						li Отвечал за верстку email-рассылок с учетом специфики почтовых клиентов.
						li Участвовал в проектировании дизайн систем.
						li Тесно сотрудничал с backend-разработчиками при интеграции верстки на CMS Bitrix.
						li Участвовал в код-ревью, следил за качеством вёрстки и её соответствием современным стандартам.
					ul.exp__stack
						li.exp__stack-item HTML
						li.exp__stack-item CSS
						li.exp__stack-item JavaScript
						li.exp__stack-item Vue
						li.exp__stack-item Pug
						li.exp__stack-item SCSS
						li.exp__stack-item Bitrix
						li.exp__stack-item Кроссбраузерная верстка 
						li.exp__stack-item Pixel Perfect
			.exp__item 
				.exp__date 
					span Июнь 2021 - Август 2023
					span.exp__duration 2 года 3 месяца
				.exp__details 
					.exp__position HTML - верстальщик &#183; Frontend разработчик
					.exp__company ИП Коптев А. Н.

					ul.exp__descr 
						li Занимался версткой проектов различной сложности - от простых лендингов до крупных интернет-магазинов.
						li Проектировал и разрабатывал функционал на чистом JavaScript.
						li Сотрудничал с дизайн-отделом по вопросам верстки и дизайна.
						li Проводил SEO-аудит, следил за результатами поисковой выдачи.
						li Как специалист вырос от HTML-верстальщика до Frontend-разработчика.
					ul.exp__stack
						li.exp__stack-item HTML
						li.exp__stack-item CSS
						li.exp__stack-item JavaScript
						li.exp__stack-item Frontend
						li.exp__stack-item Figma
						li.exp__stack-item SEO