$main-font: 'Roboto';
$second-font: 'Lato';

$color-base: #f3f3f3;
$color-accent: #2384f5;

$line-height-base: 1.4;

$letter-spacing-title: 0.03em;

$bg-dark: #1b1b1b;
$bg-light: #c1c1c1;

$gap-base: 24px;
$radius-base: 26px; //add mobile border-radius

$color-light: #f1f1f1;
$color-decor: #58e6d9;

$fz-title-section: 76px;
$fz-title-secion-mobile: 38px;

$container-width: 1100px;
