@use './reset';
@use './fonts';
@use './vars' as *;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 66px;
}

body {
    position: relative;

    font-family: $main-font;

    background-color: $bg-dark;
    background-image: url(../assets/img/bg.png);
    background-size: 200px;

    transition: background-color 0.4s ease-in-out;
    &::after {
        pointer-events: none;
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        transition: background-color 0.4s ease-in-out;
    }
}

body.overlay {
    overflow: hidden;
}

body.overlay::after {
    background-color: rgba(0, 0, 0, 0.7);
}

main {
    overflow: hidden;
}

a,
button,
input,
textarea,
select {
    &:focus-within {
        border-radius: 1px;
        outline: 2px solid $color-light;
        outline-offset: 4px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 15px;
}

.isVisible {
    transform: rotateX(0);
}
