%hover-style {
	position: relative;
	@media (any-hover: hover) {
		&::after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 2px;
			background-color: $color-base;
			transition: width 0.3s ease-in-out;
		}
		&:hover::after {
			width: 100%;
		}
	}
}
