%title-style {
	font-family: $second-font;
	font-size: clamp-px(30, 48);
	color: $color-base;
	font-weight: 700;
	letter-spacing: $letter-spacing-title;
	text-transform: uppercase;
	transform: rotateX(90deg);
	transition: transform 0.4s ease-in-out;
}
