extends ./default/_default

block hero-content
    include ./components/header/_header
    include ./components/hero/_hero
block main-content
    //- include ./components/works/_works
    include ./components/skills/_skills
    include ./components/about/_about
block footer-content    
    include ./components/footer/_footer
    