---
import Image from 'astro/components/Image.astro';
import Photo from '@/assets/img/photo.webp';
---

<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <h1 class="hero__descr">
                <span class="hero__wrap">Привет, Я Александр</span>
                <span class="hero__wrap hero--html"
                    >HTML верстальщик
                    <span class="hero__letter"> &lt;/&gt;</span>
                </span>
                <span class="hero__wrap hero--front">Frontend разработчик</span>
            </h1>
            <div class="hero__photo">
                <Image src={Photo} width={Photo.width} height={Photo.height} densities={[2, 3]} fetchpriority="high" loading={'eager'} alt="Photo" />
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .hero {
        padding: 240px 0;

        &--front {
            color: #fbc02d;
        }
        &--html {
            color: #0f7dff;
        }

        &__inner {
            display: flex;
            gap: 24px;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 600px) {
                flex-direction: column;
            }
        }

        &__letter {
            user-select: none;
            margin-left: 12px;
        }

        &__descr {
            font-family: $main-font;
            font-size: clamp-px(24, 42);
            font-weight: 500;
            color: $color-base;
        }

        &__wrap {
            display: flex;
        }

        &__space {
            width: 12px;
        }

        &__photo {
            overflow: hidden;

            aspect-ratio: 1 / 1;
            width: 310px;
            margin-right: 26px;

            background-color: $bg-dark;
            border: 3px solid $bg-light;
            border-radius: $radius-base;
            box-shadow: 5px 5px 0 0 $bg-light;

            img {
                transform: translateY(41px);

                @media (max-width: 600px) {
                    transform: translateY(21px);
                }
            }

            @media (max-width: 960px) {
                width: 260px;
                margin-right: 20px;
            }

            @media (max-width: 768px) {
                width: 200px;
                margin-right: 10px;
            }
        }

        @media (max-width: 960px) {
            padding: 160px 0;
        }

        @media (max-width: 768px) {
            padding: 130px 0;
        }
    }
</style>
