footer.contacts#contacts
    .container 
        h2.contacts__title Контакты  
        ul.contacts__list 
            li.contacts__item 
                svg(class="footer__icon", width="36", height="36")
                    use(xlink:href="./icons/sprite.svg#social--telegram")
                a.contacts__link(href="tg://resolve?domain=@Alexander_721" target="blank") 
                    | @Alexander_721 
            li.contacts__item 
                svg(class="footer__icon" width="36" height="36")
                    use(xlink:href="./icons/sprite.svg#social--whatsapp")
                a.contacts__link(href="https://wa.me/79175517349" target="blank") 
                    | +7 (917) 551 73 49
            li.contacts__item 
                svg(class="footer__icon" width="36" height="36")
                    use(xlink:href="./icons/sprite.svg#stack--github")
                a.contacts__link(href="https://github.com/Alexander-Shulginov" target="blank") 
                    | /Alexander-Shulginov
            li.contacts__item 
                svg(class="footer__icon" width="36" height="36")
                    use(xlink:href="./icons/sprite.svg#social--gmail")
                a.contacts__link(href="mailto:alexander3post@gmail.com" target="blank") 
                    | alexander3post@gmail.com
                