.contacts {
	padding: clamp-px(40, 90) 0;
	background: $bg-dark;

	&__title {
		margin-bottom: 34px;
		font-size: $fz-title-section;
		color: $color-light;
		text-align: center;

		@media (max-width: 768px) {
			margin-bottom: 22px;
			font-size: $fz-title-secion-mobile;
		}
	}

	&__list {
		transform: translateX(40px);

		display: flex;
		flex-direction: column;
		gap: 28px;
		justify-content: center;

		width: 270px;
		margin: 0 auto;

		@media (max-width: 768px) {
			transform: translateX(22px);
		}
	}

	&__item {
		display: flex;
		gap: 12px;
		align-items: center;
	}

	&__link {
		@extend %text-style;
		@extend %hover-style;
	}
}
