header.header
	.container 
		.header__inner 
			nav.header__nav 
				ul.header__list 
					li.header__item 
						a.header__link(href="#works") Работы
					li.header__item 
						a.header__link(href="#skills") Навыки
					li.header__item 
						a.header__link(href="#about") Обо мне
					li.header__item 
						a.header__link(href="#contacts") Контакты
			ul.header__links 
				a.header__link(href="tg://resolve?domain=@Alexander_721" ) 
					svg(class="footer__icon" width="22" height="22")
						use(xlink:href="./icons/sprite.svg#social--telegram")
				a.header__link(href="https://wa.me/79175517349" target="_blank") 
					svg(class="footer__icon" width="22" height="22")
						use(xlink:href="./icons/sprite.svg#social--whatsapp")
				a.header__link(href="mailto:alexander3post@gmail.com" target="_blank") 
					svg(class="footer__icon" width="22" height="22")
						use(xlink:href="./icons/sprite.svg#social--gmail")
				a.header__link(href="https://github.com/Alexander-Shulginov" target="_blank") 
					svg(class="footer__icon" width="22" height="22")
						use(xlink:href="./icons/sprite.svg#stack--github")
			button.header__burger(type="button" aria-label="Button for burger meu") 
				span.header__burger-line
				span.header__burger-line
				span.header__burger-line