section.skills#skills 
	.container  
		h2.skills__title Навыки

		include ../circle/circle
		
		.skills__list
			.skills__details 	
				.skills__item
					.skills__name Верстка
					ul.skills__info
						li.skills__elem Уверенные знания HTML/CSS/JS
						li.skills__elem Опыт работы с шаблонизаторoм PUG
						li.skills__elem Опыт работы с препроцесором SCSS
						li.skills__elem Умею и люблю создавать сложные анимации GSAP
						li.skills__elem В работе использую БЭМ методологию
						li.skills__elem Умею конфигурировать и использовать GULP
						li.skills__elem Всегда стремлюсь верстать PIXEL PERFECT

				.skills__item
					.skills__name Frontend
					ul.skills__info
						li.skills__elem Опыт работы с Vue и его экосистемой Vue-Router, Pinia, VueUse и т.д.
						li.skills__elem Уверенно владею чистым JavaScript
						li.skills__elem Пишу преимущественно на TypeScript 
						li.skills__elem Использую современный сборщик Vite
						li.skills__elem Умею работать с UI библиотеками Vuetify, Quasar
						li.skills__elem Знаком с REST API

				.skills__item
					.skills__name Workflow
					ul.skills__info
						li.skills__elem Git, Git-workflow
						li.skills__elem Для тестирования использую Vitest
						li.skills__elem Для сборки проектов использую Webpack - 
							a.skills__link(href="https://github.com/Alexander-Shulginov/webpack-config", target="_blank") моя сборка
						li.skills__elem Для автоматизации процессов использую Gulp - 
							a.skills__link(href="https://github.com/Alexander-Shulginov/gulp-boilerplate", target="_blank") моя сборка