section.skills#skills 
	.container  
		h2.skills__title Навыки

		include ../circle/circle
		
		.skills__list
			.skills__details 	
				.skills__item
					.skills__name Верстка
					ul.skills__info
						li Уверенные знания HTML/CSS/JS
						li Опыт работы с шаблонизаторoм PUG
						li Опыт работы с препроцесором SCSS
						li Умею и люблю создавать сложные анимации GSAP
						li В работе использую БЭМ методологию
						li Умею конфигурировать и использовать GULP
						li Всегда стремлюсь верстать PIXEL PERFECT

				.skills__item
					.skills__name Frontend
					ul.skills__info
						li Опыт работы с Vue и его экосистемой Vue-Router, Pinia, VueUse и т.д.
						li Уверенно владею чистым JavaScript
						li Пишу преимущественно на TypeScript 
						li Использую современный сборщик Vite
						li Умею работать с UI библиотеками Vuetify, Quasar
						li Знаком с REST API

				.skills__item
					.skills__name Workflow
					ul.skills__info
						li Git, Git-workflow
						li Для тестирования использую Vitest
						li Для сборки проектов использую Webpack - 
							a.skills__link(href="https://github.com/Alexander-Shulginov/webpack-config", target="_blank") моя сборка
						li Для автоматизации процессов использую Gulp - 
							a.skills__link(href="https://github.com/Alexander-Shulginov/gulp-boilerplate", target="_blank") моя сборка