section.skills#skills 
	.container  
		h2.skills__title Навыки

		include ../circle/circle
		
		.skills__list
			.skills__details 	
				.skills__name Frontend
				ul.skills__info
					li Опыт работы с Vue и его экосистемой Vue-Router, Pinia, VueUse и т.д.
					li Опыт работы с Nuxt 
					li Пишу преимущественно на TypeScript 
					li Умею работать с UI библиотеками Vuetify, Quasar
					li Знаком с REST API

				.skills__name Верстка
				ul.skills__info
					li Уверенные знания HTML/CSS
					li Навыки работы с шаблонизаторами
					li Навыки работы с препроцесарами
					li Умею и люблю создавать красивые анимации
					li В работе использую БЭМ методологию

				.skills__name Workflow
				ul.skills__info
					li Активно использую Vite - моя сборка
					li Активно использую Webpack - моя сборка
					li Активно использую Gulp - моя сборка

				.skills__name Testing
				ul.skills__info
					li Vitest
					li e2e тесты

				.skills__name CI/CD
				ul.skills__info
					li Docker 
					li GIT
					li GH Actions 
