.skills {
	padding-bottom: clamp-px(60, 100);

	&__title {
		margin-bottom: 98px;
		font-size: $fz-title-section;
		color: $color-light;
		text-align: center;

		@media (max-width: 768px) {
			margin-bottom: 32px;
			font-size: $fz-title-secion-mobile;
		}
	}
}
