@media (max-width: 795px) {
	.skills {
		&__techno {
			flex-wrap: wrap;
		}

		&__techno-item {
			flex-basis: 30%;
		}
	}
}

@media (max-width: 470px) {
	.skills {
		&__item {
			align-items: flex-start;
		}

		&__descr {
			list-style: none;
		}
	}
}
