.circle {
	position: relative;
	overflow: hidden;
	max-width: 1100px;
	margin: 0 auto;

	&__wrapper {
		position: relative;
		height: 500px; //? why 500?
		margin: 0 auto;
		margin-bottom: 50px;
	}

	&__items {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		display: flex;
		justify-content:center;
	}

	&__items--1 {
		// position: absolute;
		// top: 300px;
		// left: 50%;
		// transform: translateX(-50%);
		top: -72px;
		// width: 100%;
				width: 120%;
		height: 800px;
	}

	&__items--2 {
		position: absolute;
		top: 136px;
		left: 50%;
		transform: translateX(-50%);

		gap: 80px;

		width: 73%;
		height: 600px;
	}

	&__items--3 {
		width: 93%;
		height: 1095px;
	}

	&__elements {
		display: flex;
		gap: 100px;
		justify-content: space-between;
		height: 408px;
	}

	&__elements--1 {
	}
	&__arc {
		position: absolute;
		z-index: 0;
		left: 50%;
		transform: translateX(-50%);

		border: 2px solid $color-light;
		border-radius: 50%;
	}

	&__arc--1 {
		top: 370px;
		width: 120%;
		height: 800px;
	}

	&__arc--2 {
		top: 182px;
		width: 110%;
		height: 807px;
	}

	&__arc--3 {
		top: 43px;
		width: 135%;
		height: 1095px;
	}

	&__item {
		position: relative;
		z-index: 1;

		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;

		background-color: $bg-dark;
		border: 2px solid $bg-light;
		border-radius: $radius-base;
		box-shadow: 2px 2px 0 0 $bg-light;
	}

	&__item--row-1 {
		gap: 10px;
		width: 130px;
		height: 130px;
		padding: 10px;
	}

	&__item--row-2 {
		gap: 4px;
		width: 105px;
		height: 105px;
		padding: 10px;
	}

	&__item--row-3 {
		gap: 4px;
		width: 90px;
		height: 90px;
		padding: 10px;
	}

	&__item--row-1:nth-child(1),
	&__item--row-1:nth-child(3) {
		position: relative;
		top: 45px;
		transform: scale(0.95);
	}

	&__item--row-2:nth-child(2),
	&__item--row-2:nth-child(3) {
		position: relative;
		top: 33px;
	}

	&__item--row-2:nth-child(1),
	&__item--row-2:nth-child(4) {
		position: relative;
		top: 76px;
	}

	&__item--row-3:nth-child(3) {
		margin: 0 30px;
	}

	&__item--row-3:nth-child(2),
	&__item--row-3:nth-child(4) {
		position: relative;
		top: 33px;
	}

	&__item--row-3:nth-child(1),
	&__item--row-3:nth-child(5) {
		position: relative;
		top: 110px;
	}

	&__icon {
		flex-shrink: 0;
	}

	&__tech-name {
		color: $color-light;
	}
}
