.circle {
	position: relative;

	&__inner {
		position: relative;
		overflow: hidden;
	}

	&__wrapper {
		height: 500px;
		margin-bottom: 50px;
	}

	&__items {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		display: flex;
		justify-content: space-between;
	}

	&__items--1 {
		top: -72px;
		gap: 100px;
		height: 408px;
	}

	&__items--2 {
		position: relative;
		top: -72px;
		left: unset;
		transform: none;

		gap: 80px;

		width: 61%;
		height: 600px;
	}

	&__items--3 {
		width: 93%;
		height: 1095px;
	}

	&__arc {
		position: absolute;
		z-index: 0;
		left: 50%;
		transform: translateX(-50%);

		border: 2px solid $color-light;
		border-radius: 50%;
	}

	&__arc--1 {
		top: 390px;
		width: 120%;
		height: 800px;
	}

	&__arc--2 {
		top: 205px;
		width: 121%;
		height: 807px;
	}

	&__arc--3 {
		top: 43px;
		width: 135%;
		height: 1095px;
	}

	&__elements--2 {
		position: relative;

		display: flex;
		justify-content: center;

		width: 100%;
		height: 1700px;
	}

	&__item {
		position: relative;
		z-index: 1;

		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;

		background-color: $bg-dark;
		border: 2px solid $bg-light;
		border-radius: $radius-base;
		box-shadow: 2px 2px 0 0 $bg-light;
	}

	&__item--row-1 {
		gap: 10px;
		width: 130px;
		height: 130px;
		padding: 10px;
	}

	&__item--row-2 {
		gap: 4px;
		width: 105px;
		height: 105px;
		padding: 10px;
	}

	&__item--row-3 {
		gap: 4px;
		width: 90px;
		height: 90px;
		padding: 10px;
	}

	&__item--row-1:nth-child(1),
	&__item--row-1:nth-child(3) {
		top: 45px;
		transform: scale(0.95);
	}

	&__item--row-2:nth-child(2),
	&__item--row-2:nth-child(3) {
		top: 33px;
	}

	&__item--row-2:nth-child(1),
	&__item--row-2:nth-child(4) {
		top: 76px;
	}

	&__item--row-3:nth-child(3) {
		margin: 0 30px;
	}

	&__item--row-3:nth-child(2),
	&__item--row-3:nth-child(4) {
		top: 33px;
	}

	&__item--row-3:nth-child(1),
	&__item--row-3:nth-child(5) {
		top: 110px;
	}

	&__icon {
		flex-shrink: 0;
	}

	&__tech-name {
		color: $color-light;
	}

	@media (max-width: 960px) {
		display: none;
	}
}
