section.hero
	.container
		.hero__inner 
			h1.hero__descr 
				span.hero__wrap
					span.hero__letter П 
					span.hero__letter р
					span.hero__letter и
					span.hero__letter в
					span.hero__letter е
					span.hero__letter т
					span.hero__letter ,
					span.hero__space  
					span.hero__letter я
					span.hero__space  
					span.hero__letter А
					span.hero__letter л
					span.hero__letter е
					span.hero__letter к 
					span.hero__letter с
					span.hero__letter а
					span.hero__letter н
					span.hero__letter д
					span.hero__letter р
				span.hero__wrap.hero--html
					span.hero__letter H 
					span.hero__letter T
					span.hero__letter M
					span.hero__letter L
					span.hero__space
					span.hero__letter в
					span.hero__letter е
					span.hero__letter р
					span.hero__letter с
					span.hero__letter т
					span.hero__letter а
					span.hero__letter л
					span.hero__letter ь
					span.hero__letter щ
					span.hero__letter и
					span.hero__letter к
					span.hero__space
					span.hero__letter #{"</>"}
				span.hero__wrap.hero--front
					span.hero__letter F
					span.hero__letter r
					span.hero__letter o
					span.hero__letter n
					span.hero__letter t
					span.hero__letter e
					span.hero__letter n
					span.hero__letter d
					span.hero__space
					span.hero__letter р 
					span.hero__letter а
					span.hero__letter з
					span.hero__letter р
					span.hero__letter а
					span.hero__letter б
					span.hero__letter о
					span.hero__letter т
					span.hero__letter ч
					span.hero__letter и
					span.hero__letter к
			.hero__photo 
				picture 
					source(srcset="./img/photo@2x.webp 2x, ./img/photo@3x.webp 3x", type="image/webp")
					img.header__img(src="./img/photo.webp", width="379", height="387", alt="My photo")  