section.hero
	.container
		.hero__inner 
			h1.hero__descr 
				span.hero__wrap Привет, Я Александр
				span.hero__wrap.hero--html HTML верстальщик   
					span.hero__letter #{" </>"}
				span.hero__wrap.hero--front Frontend разработчик

			.hero__photo 
				picture 
					source(srcset="./img/photo@2x.webp 2x, ./img/photo@3x.webp 3x" type="image/webp")
					img.header__img(src="./img/photo.webp" width="379" height="387" alt="My photo")  