section.hero
	.container
		.hero__inner 
			h1.hero__descr 
				.hero__wrap
					.hero__letter П 
					.hero__letter р
					.hero__letter и
					.hero__letter в
					.hero__letter е
					.hero__letter т
					.hero__letter ,
					.hero__space  
					.hero__letter я
					.hero__space  
					.hero__letter А
					.hero__letter л
					.hero__letter е
					.hero__letter к 
					.hero__letter с
					.hero__letter а
					.hero__letter н
					.hero__letter д
					.hero__letter р
				.hero__wrap.hero--html
					.hero__letter H 
					.hero__letter T
					.hero__letter M
					.hero__letter L
					.hero__space
					.hero__letter в
					.hero__letter е
					.hero__letter р
					.hero__letter с
					.hero__letter т
					.hero__letter а
					.hero__letter л
					.hero__letter ь
					.hero__letter щ
					.hero__letter и
					.hero__letter к
					.hero__space
					.hero__letter #{"</>"}
				.hero__wrap.hero--front
					.hero__letter F
					.hero__letter r
					.hero__letter o
					.hero__letter n
					.hero__letter t
					.hero__letter e
					.hero__letter n
					.hero__letter d
					.hero__space
					.hero__letter р 
					.hero__letter а
					.hero__letter з
					.hero__letter р
					.hero__letter а
					.hero__letter б
					.hero__letter о
					.hero__letter т
					.hero__letter ч
					.hero__letter и
					.hero__letter к
			.hero__photo 
				picture 
					source(srcset="./img/photo@2x.webp 2x, ./img/photo@3x.webp 3x", type="image/webp")
					img.header__img(src="./img/photo.webp", width="379", height="387", alt="My photo")  