.hero {
	padding: clamp-px(70, 150) 0;
	background: $bg-hero;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: clamp-px(20, 45);
	}

	&__descr {
		font-family: $main-font;
		color: $color-base;
		font-size: clamp-px(26, 42);
		font-weight: 500;
		opacity: 0;
		transform: translateX(-40%);
		transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;

		&--active {
			transform: translateX(1%);
			opacity: 1;
		}
	}

	&__descr--accent {
		color: $color-accent;
	}

	&__photo {
		max-width: 320px;
		opacity: 0;
		transition: opacity 0.4s ease-in-out;

		&--active {
			opacity: 1;
		}
	}
}
