.hero {
	padding: 240px 0;

	&--front {
		color: #fbc02d;
	}
	&--html {
		color: #0f7dff;
	}

	&__inner {
		display: flex;
		gap: 24px;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 600px) {
			flex-direction: column;
		}
	}

	&__letter {
		user-select: none;
	}

	&__descr {
		font-family: $main-font;
		font-size: clamp-px(26, 42);
		font-weight: 500;
		color: $color-base;
	}

	&__wrap {
		display: flex;
	}

	&__space {
		width: 12px;
	}

	&__photo {
		overflow: hidden;

		aspect-ratio: 1 / 1;
		width: 310px;
		margin-right: 26px;

		background-color: $bg-dark;
		border: 3px solid $bg-light;
		border-radius: $radius-base;
		box-shadow: 5px 5px 0 0 $bg-light;

		img {
			transform: translateY(41px);

			@media (max-width: 600px) {
				transform: translateY(21px);
			}
		}

		@media (max-width: 960px) {
			width: 260px;
			margin-right: 20px;
		}

		@media (max-width: 768px) {
			width: 200px;
			margin-right: 10px;
		}
	}

	@media (max-width: 960px) {
		padding: 160px 0;
	}

	@media (max-width: 768px) {
		padding: 130px 0;
	}
}
