.hero {
	padding: clamp-px(70, 120) 0;

	&__inner {
		display: flex;
		gap: clamp-px(20, 45);
		align-items: center;
		justify-content: space-between;
	}

	&__descr {
		font-family: $main-font;
		font-size: clamp-px(26, 42);
		font-weight: 500;
		color: $color-base;
	}

	&__descr--front {
		color: #fbc02d;
	}

	&__descr--html {
		color: #0f7dff;
	}

	&__photo {
		max-width: 320px;

		background-color: $bg-dark;
		border: 2px solid $bg-light;
		border-radius: $radius-base;
		box-shadow: 5px 5px 0 0 $bg-light;
	}
}
